/*  reset du css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
   
}

span{
    color: #009688;
   
}

body{
    
    height: 100vh;
    animation: anime 15s linear infinite;
    position: relative;
   
   
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10%;
   
}

header .logo{
    color: white;
    font-size: 35px;
    font-weight: bold;
     
}


header ul{
    display: flex;
    list-style: none;
}  

header ul li {
    margin: 0 10px;
}  

li{
    color: white;
}
header ul li a{
    text-decoration: 0;
    color: white;
    position: relative;
    
     
}  

header ul li a::before {
    position: absolute;
    bottom: 0;
    content:'';
    height: 3px;
    width: O;
    background-color:#009688; 
    border-radius: 6px;
    transition: 0,5s;
    
     
}

header ul li a:hover ::before {
    width: 100%;    
}  

.text {
   height: calc(100vh - 80px);  
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.text h1 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}


.text p {
    color: white;
}

.links {
    margin-top: 25%;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: 0;
    color: white;
    border: 2px solid #009688; 
    padding: 5px 40px;
    text-transform: uppercase;
    position: relative;
    border-radius: 6px;
}

.links a::after {
   position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 0%;
    height: 100%;
    background-color: #009688;
    transition: 0.7s;
    z-index: -1;
    border-radius: 6px;
}

.links a:hover::after {
   width: 100%;
}


 .links a:hover {
   border: 2px solid transparent;
}


/*  animation background */
@keyframes anime {
    0% {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./girl-g465d415fe_1920.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    25% {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./man-g0c5ad0cb4_1920.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    50% {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./manga-gaf4a8b61e_1920.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    100% {
        background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./comic-gadaba83d3_1920.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}

/*  responsive*/

@media (max-width:760px) {
    header ul {
        display: none;
    }
    .responsive_menu{
        width: 50px;
        
        height: 50px;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
       
    }
    .responsive_menu::before{
        content: "";
        position: absolute;
        width: 50px;
        transform: translateY(-5px);
        height: 5px;
        background-color: white;
        border-radius: 6px;
        transition: 0.5s;
    }
    .responsive_menu.active::before{
       transform: rotate(45deg);
       width: 28px;

    }
    .responsive_menu::after{
        content: "";
        position: absolute;
        width: 28px;
        transform: translateY(5px);
        height: 5px;
        background-color: white;
        border-radius: 6px;
        transition: 0.5s;
    }
    .responsive_menu.active::after{
       transform: rotate(-45deg);
    }

    header .menu.responsive{
       display: flex;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       backdrop-filter:blur(100px);
       align-items: center;
       justify-content: center;
       flex-direction: column;
       z-index: 1;
     }

     .menu.responsive li {
        margin: 25px;
      }
}
